  body {
   padding-left: 1em;
   font-family: Georgia, "Times New Roman",
          Times, serif;
		  color: rgb(0, 0, 0);
    background-color: white }
	
ul.navbar {
     list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C0D6E4;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(160, 225, 236);
}

.active {
  background-color: #04AA6D;
}

h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
        text-align: center; }
		ul.navbar li {
    background: 0;
    margin: 1m 0;
    padding: 0.7em;
    border-right: 0 }
    ul.navbar a {
    text-decoration: none }

a:link {
    color: blue }
    a:visited {
    color: black }
    
address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
